:root{
    --main-green: #5c7e4c;
    --alternative-green:#9ebe8f;
    --soft-green: #e4ede0;
    --main-yellow: #efc056;
    --alternative-yellow: #FCE6B4;
    --main-sienna: #D68F6D;
    --alternative-sienna: #EABDA8;   
  }
.navbar-container{
  width: 100%;
  height: 3em;
  background-color: var(--alternative-yellow);
}